h1 {
	font-family: Courier New;
	background-color: #C8F1FF;
	font-size: 60px;
	width: 100%;
	height: 100px;
	position:relative;
	padding-top: 40px;
	margin: 0 auto;
	text-align: center;
}
h2 {
	position:relative;
	width: 100%;
	margin:0 auto;
	background-color:#235D96;
	font-family: Courier New;
	text-align: center;
	overflow: stack;
}
h3{
	font-family: Courier New;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
table{
	font-family: Courier New;
	text-align: center;
	background-color: #E9DDFF;
	font-size: 50px;
	border: 25px solid #907BB8;
}
img{
	width: 400px;
	height: 300px;
	margin: 20px;
}
p {
	text-align: center;
	font-family: Courier New;
	font-size: 15px;
	margin-left: 250px;
	margin-right: 250px;
}
.Reflection {
	text-align: center;
	font-family: Courier New;
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
	margin-top: 50px;
}
